@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2; }

img {
  max-width: 100%;
  height: auto; }

.wrapper-outer {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header__logo {
  width: 100%;
  background: url("../img/back-desktop.jpg") center bottom no-repeat #81b3d2;
  background-size: cover;
  text-align: center; }

.page-header__image {
  margin: 75px auto 30px; }

.pager-header__waves {
  height: 57px;
  background: transparent url("../img/intro-triangle.svg") center top no-repeat; }

.main-nav {
  background-color: #ffffff; }

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px; }

.main-nav__toggle {
  display: none; }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  text-align: center; }

.menu-list__item:not(.menu-list__item--logo) {
  padding: 16px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }

.menu-list__link {
  text-decoration: none;
  font-weight: 700;
  line-height: 26px;
  color: #000000; }
  .menu-list__link:hover {
    color: #81b3d2; }
  .menu-list__link:active {
    color: rgba(0, 0, 0, 0.3); }

.menu-list__link--active {
  color: #766357; }
  .menu-list__link--active:hover {
    color: #604e43; }
  .menu-list__link--active:active {
    color: rgba(118, 99, 87, 0.3); }

.menu-list__item--logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }

.menu-list__item--logo picture {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.page-main {
  padding: 0;
  background-color: #ffffff; }

.main-header {
  text-align: center; }

.main-header__title {
  padding-top: 45px;
  display: block;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px; }

.main-header__description {
  display: block;
  margin: 35px 0 50px; }

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reasons:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.reasons-item {
  text-align: center;
  padding: 50px 55px 60px;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px; }

.reasons__view {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.reasons--images .reasons-item {
  background-color: #81b3d2;
  color: #ffffff; }

.reasons--no-images .reasons-item {
  background-color: #eeeeee; }

.reasons__view img {
  height: 100%; }

.reasons-item__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 15px; }

.reasons-item__numbers {
  display: block; }

.reasons-item__text {
  margin-top: 20px;
  display: block; }

@media (max-width: 980px) {
  .reasons-item {
    padding: 45px 20px 40px;
    -ms-flex-preferred-size: 340px;
        flex-basis: 340px; }
  .reasons-item__title {
    margin-bottom: 10px; } }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.features__item {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center;
  padding: 60px 40px; }

.features__title,
.features__description {
  display: block; }

.features__image {
  display: inline-block;
  width: 77px;
  height: 77px; }

.features__title {
  font-weight: bold;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  margin-top: 20px; }

.features__description {
  margin-top: 30px; }

@media (max-width: 980px) {
  .features__item {
    padding: 40px; } }

.interesting {
  text-align: center;
  width: 460px;
  margin: 0 auto; }

.interesting__title,
.interesting__description {
  display: block; }

.interesting__title {
  font-size: 30px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 55px; }

.interesting__description {
  margin-top: 35px; }

.btn {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer; }
  .btn:hover {
    background-color: #669ec0; }
  .btn:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3); }

.btn--interesting {
  margin: 50px 0 70px;
  width: 100%;
  padding: 15px; }

@media (max-width: 980px) {
  .btn--interesting {
    margin-bottom: 60px; } }

.page-footer {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-site {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center; }

.footer-socials {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center; }

.footer-socials__link {
  margin: 5px;
  padding: 15px 25px; }
  .footer-socials__link:hover {
    background-color: #669ec0; }
  .footer-socials__link:active {
    background-color: #5496bd; }

.link-twitter {
  background: url("../../img/icon-twitter.svg") 15px 17px #81b3d2 no-repeat; }
  .link-twitter:active {
    background-image: url("../../img/icon-twitter-active.svg"); }

.link-facebook {
  background: url("../../img/icon-facebook.svg") 20px 15px #81b3d2 no-repeat; }
  .link-facebook:active {
    background-image: url("../../img/icon-facebook-active.svg"); }

.link-Youtube {
  background: url("../../img/icon-youtube.svg") 15px 17px #81b3d2 no-repeat; }
  .link-Youtube:active {
    background-image: url("../../img/icon-youtube-active.svg"); }

.footer-properties {
  padding: 0 85px 10px 0;
  text-align: right;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px; }

.footer-properties__link {
  text-decoration: none; }

.footer-properties__image {
  position: relative;
  left: 10px;
  top: 12px; }

@media (max-width: 980px) {
  .footer-site,
  .footer-socials,
  .footer-properties {
    -ms-flex-preferred-size: 340px;
        flex-basis: 340px; }
  .footer-properties {
    padding-right: 60px; }
  .footer-socials__link {
    margin: 3px; } }
