@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2; }

img {
  max-width: 100%;
  height: auto; }

.wrapper-outer {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header__logo {
  width: 100%;
  background: url("../img/back-desktop.jpg") center bottom no-repeat #81b3d2;
  background-size: cover;
  text-align: center; }

.page-header__image {
  margin: 75px auto 30px; }

.page-header__image--others {
  margin: 100px auto 60px; }

.pager-header__waves {
  height: 57px;
  background: transparent url("../img/intro-triangle.svg") center top no-repeat; }

@media (max-width: 980px) {
  .page-header__image--others {
    margin: 90px auto 50px; } }

@media (max-width: 640px) {
  .page-header__image {
    padding: 0 20px;
    margin: 85px 0 25px; }
  .page-header__image--others {
    margin: 50px 0 5px;
    width: 85%; } }

.main-nav {
  background-color: #ffffff;
  position: relative; }

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px; }

.main-nav__toggle,
.main-nav__close {
  display: none;
  position: absolute;
  right: 20px;
  border: none;
  cursor: pointer;
  z-index: 2; }

@media (max-width: 640px) {
  .main-nav__list {
    height: auto; }
  .main-nav__toggle,
  .main-nav__close {
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    background-color: transparent;
    outline: none; }
  .main-nav__toggle {
    bottom: 5px; }
  .main-nav__toggle::before {
    content: "";
    position: absolute;
    right: 12px;
    top: 15px;
    background-color: #81b3d2; }
  .main-nav--closed .main-nav__toggle::before {
    width: 24px;
    height: 4px;
    -webkit-box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
            box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2; }
  .main-nav--opened .main-nav__toggle::before {
    right: 30px;
    width: 4px;
    height: 24px;
    -webkit-box-shadow: 8px 0 0 0 #81b3d2, 16px 0 0 0 #81b3d2;
            box-shadow: 8px 0 0 0 #81b3d2, 16px 0 0 0 #81b3d2; }
  .main-nav__close {
    top: 2px; }
    .main-nav__close::before, .main-nav__close::after {
      content: "";
      right: 10px;
      top: 22px;
      position: absolute;
      width: 28px;
      height: 4px;
      background-color: #ffffff; }
    .main-nav__close::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .main-nav__close::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .main-nav--opened .menu-list__item {
    display: block; }
  .main-nav--closed .menu-list__item {
    display: none; }
  .main-nav--nojs .menu-list__item {
    display: block; } }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  text-align: center;
  white-space: nowrap; }

.menu-list__item:not(.menu-list__item--logo) {
  padding: 16px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }

.menu-list__link {
  text-decoration: none;
  font-weight: 700;
  line-height: 26px;
  color: #000000; }
  .menu-list__link:hover {
    color: #81b3d2; }
  .menu-list__link:active {
    color: rgba(0, 0, 0, 0.3); }

.menu-list__link--active {
  color: #766357; }
  .menu-list__link--active:hover {
    color: #604e43; }
  .menu-list__link--active:active {
    color: rgba(118, 99, 87, 0.3); }

.menu-list__item--logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }

.menu-list__item--logo picture {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

@media (max-width: 640px) {
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .menu-list__link {
    display: block;
    color: #ffffff;
    font-size: 18px;
    line-height: 40px; }
    .menu-list__link:hover {
      background-color: #669ec0;
      color: #ffffff; }
    .menu-list__link:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3); }
  .menu-list__item:not(.menu-list__item--logo) {
    padding: 7px; }
  .menu-list__item {
    -ms-flex-preferred-size: 640px;
        flex-basis: 640px;
    background-color: #81b3d2;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    padding: 0; }
    .menu-list__item:hover {
      background-color: #669ec0;
      color: #ffffff; }
    .menu-list__item:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3); }
  .menu-list__item--logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 60px;
    -webkit-box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2); } }

.page-main {
  padding: 0;
  background-color: #ffffff; }

.main-header {
  text-align: center;
  width: 550px;
  margin: 0 auto; }

.main-header--others .main-header__title {
  padding-top: 105px;
  font-size: 30px; }

.main-header__title {
  padding-top: 45px;
  display: block;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px; }

.main-header--others .main-header__description {
  margin-bottom: 15px; }

.main-header__description {
  display: block;
  margin: 35px 0 50px; }

@media all and (max-width: 980px) {
  .main-header--others .main-header__title {
    padding-top: 80px;
    font-size: 30px; } }

@media (max-width: 640px) {
  .main-header {
    width: 100%; }
  .main-header--others {
    border-bottom: 1px solid #e5e5e5; }
  .main-header__title {
    padding: 40px 20px 0;
    font-size: 18px; }
  .main-header__description {
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 0 20px; }
  .main-header__title br {
    display: none; }
  .main-header--others .main-header__title {
    padding-top: 40px;
    font-size: 18px; } }

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reasons:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.reasons-item {
  text-align: center;
  padding: 50px 55px 60px;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.reasons__view {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.reasons--images .reasons-item {
  background-color: #81b3d2;
  color: #ffffff; }

.reasons--no-images .reasons-item {
  background-color: #eeeeee; }

.reasons__view img {
  height: 100%; }

.reasons-item__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 15px; }

.reasons-item__numbers {
  display: block; }

.reasons-item__text {
  margin-top: 20px;
  display: block; }

@media (max-width: 980px) {
  .reasons-item {
    padding: 45px 20px 40px;
    -ms-flex-preferred-size: 256px;
        flex-basis: 256px; }
  .reasons-item__title {
    margin-bottom: 10px; }
  .reasons--images .reasons-item {
    padding: 45px 20px 40px; }
  .reasons__view img {
    width: 100%; } }

@media (max-width: 640px) {
  .reasons {
    display: block; }
  .reasons:first-of-type .reasons-item {
    background: url("../../img/white copy 2.png") center top no-repeat #81b3d2;
    background-size: contain;
    padding-top: 40px;
    padding-bottom: 40px; }
  .reasons--images .reasons-item {
    padding-bottom: 35px;
    padding-top: 10px; }
  .reasons-item {
    padding: 15px 20px 30px;
    border-bottom: 1px solid #d6d6d6; }
  .reasons-item__title {
    line-height: 26px;
    margin-top: 35px;
    font-size: 18px; }
  .reasons-item__title br {
    display: none; }
  .reasons-item__text {
    margin-top: 10px; }
  .reasons-item__text br {
    display: none; }
  .reasons--no-images .reasons-item__title {
    margin: 10px; } }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.features__item {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center;
  padding: 80px 40px; }

.features__title,
.features__description {
  display: block; }

.features__image {
  display: inline-block;
  width: 77px;
  height: 77px; }

.features__title {
  font-weight: bold;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  margin-top: 20px; }

.features__description {
  margin-top: 30px; }

@media (max-width: 980px) {
  .features__description {
    margin-top: 20px; } }

@media (max-width: 640px) {
  .features {
    display: block; }
  .features__item {
    position: relative;
    padding: 8px 30px 0 70px;
    text-align: left; }
  .features__item:last-child {
    padding-bottom: 35px; }
  .features__image {
    left: 20px;
    top: 20px;
    position: absolute;
    width: 40px;
    height: 40px; }
  .features__title {
    font-size: 18px;
    line-height: 26px;
    display: inline-block; }
  .features__description {
    margin-top: 15px; }
  .features__description br {
    display: none; } }

.interesting {
  text-align: center;
  width: 460px;
  margin: 0 auto; }

.interesting__title,
.interesting__description {
  display: block; }

.interesting__title {
  font-size: 30px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 55px; }

.interesting__description {
  margin-top: 35px; }

.map {
  height: 350px;
  background: url("../img/map-desktop.jpg") no-repeat; }

@media (max-width: 980px) {
  .map {
    background: url("../img/map-tablet.jpg"); } }

@media (max-width: 640px) {
  .interesting {
    width: 100%;
    padding: 0 20px; }
  .interesting__title {
    font-size: 21px;
    padding-top: 25px; }
  .interesting__description {
    margin-top: 25px; }
  .interesting__description br {
    display: none; }
  .map {
    background: url("../img/map-mobile.jpg"); } }

.btn {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer; }
  .btn:hover {
    background-color: #669ec0; }
  .btn:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3); }

.btn--interesting {
  margin: 50px 0 70px;
  width: 100%;
  padding: 15px; }

@media (max-width: 980px) {
  .btn--interesting {
    margin-bottom: 60px; } }

@media (max-width: 640px) {
  .btn--interesting {
    margin-top: 40px; } }

.page-footer {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px; }

.footer-site {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center; }

.footer-socials {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center; }

.footer-socials__link {
  margin: 5px;
  padding: 15px 25px; }
  .footer-socials__link:hover {
    background-color: #669ec0; }
  .footer-socials__link:active {
    background-color: #5496bd; }

.link-twitter {
  background: url("../img/icon-twitter.svg") 15px 17px #81b3d2 no-repeat; }
  .link-twitter:active {
    background-image: url("../img/icon-twitter-active.svg"); }

.link-facebook {
  background: url("../img/icon-facebook.svg") 20px 15px #81b3d2 no-repeat; }
  .link-facebook:active {
    background-image: url("../img/icon-facebook-active.svg"); }

.link-Youtube {
  background: url("../img/icon-youtube.svg") 15px 17px #81b3d2 no-repeat; }
  .link-Youtube:active {
    background-image: url("../img/icon-youtube-active.svg"); }

.footer-properties {
  padding: 0 85px 10px 0;
  text-align: right;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px; }

.footer-properties__link {
  text-decoration: none; }

.footer-properties__image {
  position: relative;
  left: 10px;
  top: 12px; }

@media (max-width: 980px) {
  .footer-site,
  .footer-socials,
  .footer-properties {
    -ms-flex-preferred-size: 340px;
        flex-basis: 340px; }
  .footer-properties {
    padding-right: 60px; }
  .footer-socials__link {
    margin: 3px; } }

@media (max-width: 640px) {
  .page-footer {
    display: block;
    height: auto; }
  .footer-site {
    display: block;
    padding: 20px 0; }
  .footer-socials {
    display: block;
    padding-top: 30px; }
  .footer-properties {
    text-align: center;
    display: block;
    padding: 35px 10px; } }

.form {
  text-transform: none;
  width: 960px;
  margin: 0 auto; }

.form input[type=text] {
  color: #000000;
  font-size: 16px; }

.form-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.form__title {
  display: block;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  width: 320px;
  color: #000;
  margin: 50px auto 80px; }

.form__impression,
.form__name {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__impression label {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; }

.form__impression label:before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  display: block;
  background-color: #f2f2f2;
  border: 18px solid #f2f2f2;
  border-radius: 50%;
  left: 5px;
  bottom: -15px; }

.form__impression input:checked + label::before {
  background-color: #333333; }

.form__impression div {
  position: relative;
  margin-bottom: 55px;
  padding-left: 80px; }

.form__impression .form__title {
  display: inline;
  text-align: center; }

.form__name .form__title {
  display: inline;
  margin-left: 0;
  text-align: left;
  margin-bottom: 60px; }

.form__name div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 25px; }

.form__name label {
  margin-right: 10px; }

.form__name input,
.form__information input {
  padding: 20px 0;
  text-indent: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  background-color: #f2f2f2; }

.form__name input::-webkit-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: bold; }

.form__name input:-ms-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: bold; }

.form__name input::-ms-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: bold; }

.form__name input::placeholder {
  color: #000;
  font-size: 16px;
  font-weight: bold; }

.form__impression input,
.form__attractions input {
  display: none; }

.form__information {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form__information .form__title {
  margin-top: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.form__information label {
  text-transform: uppercase; }

.form__information div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative; }

.form__information div:last-child {
  margin-left: 80px; }

.form__information input {
  padding-left: 25px;
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.form__information div::after {
  content: '';
  position: absolute;
  width: 57px;
  height: 56px;
  right: 0;
  background: url("../img/phone.svg") center center no-repeat #e6e6e6; }

.form__information div:last-child::after {
  background: url("../img/mail.svg") center center no-repeat #e6e6e6; }

.form__information input::-webkit-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: bold; }

.form__information input:-ms-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: bold; }

.form__information input::-ms-input-placeholder {
  color: #000;
  font-size: 16px;
  font-weight: bold; }

.form__information input::placeholder {
  color: #000;
  font-size: 16px;
  font-weight: bold; }

.form__attractions {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form__attractions .form__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  line-height: 28px;
  text-align: center;
  margin-bottom: 60px; }

.form__attractions div {
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 25px; }

.form__attractions label {
  cursor: pointer;
  position: relative;
  padding-left: 80px;
  font-size: 18px;
  font-weight: bold;
  color: #000000; }

.form__attractions label::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 57px;
  height: 57px;
  background-color: #f2f2f2;
  border-radius: 5px; }

.form__attractions input:checked + label::before {
  background: url("../../img/tick.svg") center center no-repeat #f2f2f2; }

.form__emotions {
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.form__emotions .form__title {
  margin: 60px auto; }

.form__emotions textarea {
  padding: 15px 20px;
  width: 100%;
  border: none;
  background-color: #f2f2f2; }

.form__emotions textarea::-webkit-input-placeholder {
  color: #000000;
  font-weight: bold;
  font-size: 16px; }

.form__emotions textarea:-ms-input-placeholder {
  color: #000000;
  font-weight: bold;
  font-size: 16px; }

.form__emotions textarea::-ms-input-placeholder {
  color: #000000;
  font-weight: bold;
  font-size: 16px; }

.form__emotions textarea::placeholder {
  color: #000000;
  font-weight: bold;
  font-size: 16px; }

.form__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 80px; }

.form__send input {
  padding: 15px;
  -ms-flex-preferred-size: 480px;
      flex-basis: 480px; }

.form__send span {
  padding: 15px 0;
  text-transform: uppercase; }

@media (max-width: 980px) {
  .form {
    padding: 0 50px;
    width: 100%; }
  .form__title {
    width: 280px;
    margin-top: 60px; }
  .form__impression,
  .form__name {
    -ms-flex-preferred-size: 280px;
        flex-basis: 280px; }
  .form__name .form__title {
    margin-right: 0; }
  .form__information div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px; }
  .form__information input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0; }
  .form__information label {
    padding-left: 25px;
    padding-bottom: 10px; }
  .form__information .form__title {
    margin-bottom: 30px; }
  .form__information div::after {
    top: 30px; }
  .form__information div:last-child {
    margin-left: 0; }
  .form__attractions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .form__attractions .form__title {
    margin-top: 20px; }
  .form__attractions div {
    margin-bottom: 60px;
    padding-left: 20px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .form__emotions .form__title {
    margin-top: 30px; }
  .form__send input {
    -ms-flex-preferred-size: 320px;
        flex-basis: 320px; }
  .form__send span {
    margin-top: 5px; } }

@media (max-width: 640px) {
  .form {
    padding: 0 20px; }
  .form__title {
    width: 100%;
    font-size: 18px;
    text-align: center; }
  .form__name {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-bottom: 1px solid #e5e5e5; }
  .form__name .form__title {
    text-align: center;
    margin: 30px 0 25px; }
  .form__name input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .form__name div {
    margin-bottom: 20px; }
  .form__name div:last-child {
    margin-bottom: 25px; }
  .form__name input,
  .form__information input {
    padding: 20px 0;
    text-indent: 20px; }
  .form__information {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-bottom: 1px solid #e5e5e5; }
  .form__information .form__title {
    margin: 25px 0 25px; }
  .form__information div {
    margin-bottom: 15px; }
  .form__information div:last-child {
    margin-bottom: 30px; }
  .form__information div::after {
    top: 30px; }
  .form__impression {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border-bottom: 1px solid #e5e5e5; }
  .form__impression .form__title {
    margin: 20px 0 45px; }
  .form__impression div {
    margin-bottom: 45px; }
  .form__attractions {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5; }
  .form__attractions .form__title {
    margin: 15px 0 30px; }
  .form__attractions div {
    padding-left: 0; }
  .form__attractions label {
    padding-left: 50px; }
  .form__attractions label::before {
    left: -18px; }
  .form__emotions {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .form__emotions .form__title {
    margin: 20px 0 30px; }
  .form__send {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin: 40px 0 50px; }
  .form__send input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .form__send span {
    display: none; } }
