@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSansRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSansBold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: $font-grey;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}