.interesting {
    text-align: center;
    width: 460px;
    margin: 0 auto;
}

.interesting__title,
.interesting__description {
    display: block;
}

.interesting__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
    padding-top: 55px;
}

.interesting__description {
    margin-top: 35px;
}
.map {
    height: 350px;
    background: url("../img/map-desktop.jpg") no-repeat;
}

@media (max-width: $tablet-width) {
    .map {
        background: url("../img/map-tablet.jpg");
    }
}

@media (max-width: $mobile-width) {
    .interesting {
        width: 100%;
        padding: 0 20px;
    }
    .interesting__title {
        font-size: 21px;
        padding-top: 25px;
    }
    .interesting__description {
        margin-top: 25px;
    }
    .interesting__description br {
        display: none;
    }
    .map {
        background: url("../img/map-mobile.jpg");
    }
}