.main-nav {
    background-color: $white;
    position: relative;
}

.main-nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 60px;
}

.main-nav__toggle,
.main-nav__close{
    display: none;
    position: absolute;
    right: 20px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: $mobile-width) {
    .main-nav__list {
        height: auto;
    }
    .main-nav__toggle,
    .main-nav__close{
        height: 24px;
        width: 24px;
        display: block;
        position: absolute;
        background-color: transparent;
    }
    .main-nav__toggle {
        bottom: 5px;
    }
    .main-nav__toggle::before {
        content: "";
        position: absolute;
        top: -15px;
        right: 0;
        width: 24px;
        height: 4px;
        background-color: $bg-blue;
        box-shadow: 0 8px 0 0 $bg-blue, 0 16px 0 0 $bg-blue;
    }
    .main-nav__close {
        top: 15px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 28px;
            height: 4px;
            background-color: #ffffff;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }

    .main-nav--opened .menu-list__item {
        display: block;
    }
    .main-nav--closed .menu-list__item {
        display: none;
    }
}

