.page-header__logo {
    width: 100%;
    background:  url("../img/back-desktop.jpg") center bottom no-repeat #81b3d2;
    background-size: cover;
    text-align: center;
}

.page-header__image {
    margin: 75px auto 30px;
}

.page-header__image--others {
    margin: 100px auto 60px;
}

.pager-header__waves {
    height: 57px;
    background: transparent url("../img/intro-triangle.svg") center top no-repeat;
}

@media (max-width: $tablet-width) {
    .page-header__image--others {
        margin: 90px auto 50px;
    }
}

@media (max-width: $mobile-width) {
    .page-header__image {
        padding: 0 20px;
        margin: 85px 0 25px;
    }
    .page-header__image--others {
        margin: 50px 0 5px;
        width: 85%;
    }
}