.menu-list {
    display: flex;
    justify-content: space-around;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.menu-list__item:not(.menu-list__item--logo) {
    padding: 16px;
    flex-basis: 20%;
}

.menu-list__link {
    text-decoration: none;
    font-weight: 700;
    line-height: 26px;
    color: $font-black;
    &:hover {
        color: #81b3d2;
    }
    &:active {
        color: rgba(0,0,0,.3);
    }
}

.menu-list__link--active {
    color: #766357;
    &:hover {
        color: #604e43;
    }
    &:active {
        color: rgba(118,99,87,.3);
    }
}

.menu-list__item--logo {
    flex-basis: 20%;
}

.menu-list__item--logo picture {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: $mobile-width) {
    .menu-list {
        flex-direction: column;
    }
    .menu-list__link {
        display: block;
        color: $white;
        font-size: 18px;
        line-height: 40px;
        &:hover {
            background-color: #669ec0;
            color: $white;

        }
        &:active {
            background-color: #5496bd;
            color: rgba(255,255,255,0.3);
        }
    }
    .menu-list__item:not(.menu-list__item--logo) {
        padding: 7px;
    }
    .menu-list__item {
        flex-basis: $mobile-width;
        background-color: $bg-blue;
        border-bottom: 1px solid #678fa8;
        border-top: 1px solid #9ac2db;
        padding: 0;
        &:hover {
            background-color: #669ec0;
            color: $white;

        }
        &:active {
            background-color: #5496bd;
            color: rgba(255,255,255,0.3);
        }
    }
    .menu-list__item--logo {
        order: 2;
        height: 60px;
        box-shadow: 0 -3px 10px rgba(0,0,0,.2);
    }
}